{:port 5001
 :database-url "postgresql://127.0.0.1:15432/rems?user=rems"
 :search-index-path "/tmp/rems-search-index"
 :authentication :oidc
;;  :public-url "https://dev.cadre.ada.edu.au/rems"
;;  :cadre-url "https://dev.cadre.ada.edu.au/login"
 :public-url "http://localhost:8075/rems/"
 :cadre-url "http://localhost:8075"
 :dev false
 :log-authentication-details true
 :oidc-metadata-url "https://test.cilogon.aaf.edu.au/.well-known/openid-configuration"
 :oidc-client-id "cilogon:/client_id/76dcbdc5f52a39f40e779741892a1507"
 :oidc-client-secret "Y9eRkhm-GiKMahcLvHuYWVBKUNCy2T9qMxFi0xW6t4i9WBr3Fygo3b1I25OBOsRzu1kqfS2tnXBDnaIbVOglZw"
 :oidc-logout-redirect-url "http://localhost:8075/login"
 :oidc-perform-revoke-in-logout true
 :revocation_endpoint "https://cilogon.aaf.edu.au/oauth2/revoke"
 :userinfo_endpoint "https://test.cilogon.aaf.edu.au/oauth2/userinfo"
 :encryption-private-key-passphrase "cadre-encryption-privkey"
 :signing-private-key-passphrase "cadre-signing-privkey"
 :oidc-extra-attributes [{:attribute "eduPersonOrcid"} {:attribute "eduPersonAffiliation"} {:attribute "homeOrganization"}]
 :oidc-scopes "openid profile email org.cilogon.userinfo"
 :cadre-moodle-app-wstoken "e1a6455bf4988780418852951146246a"
 :cadre-moodle-app-api-url "https://learning.cadre5safes.org.au/webservice/rest/server.php"
 :comanage-registry-url "https://registry-test.cadre5safes.org.au/registry"
 :comanage-registry-coid "2"
 :enable-permissions-api true
 :rg-augment-api-key "862a63d729be4c95a9d70d15ad807b04"
 :rg-augment-api-url "https://augmentapi.researchgraph.com/v1/orcid/"
 :comanage-core-api-userid "co_2.test"
 :comanage-core-api-key "q8ef-k5ap-edjp-va0m"}